* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  width: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.resumebtn {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border: 2px solid white;
  border-radius: 66px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}

.resumebtn:hover {
  color: #ebedee;
}


.submitbtn {
  display: block;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 66px;
  width: 175px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  margin-top: 30px;
}


/*----Navigation----*/

nav {
  line-height: 150px;
  text-align: right;
  margin-left: 20px;
  margin: 0 auto;
}

nav a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 700;
  margin-right: 5px;
}

nav a:first-child {
  float: left;
}

nav a:hover {
  color: #ebedee;
}

/*----Header----*/

header {
  height: 1000px;
  min-height: 1000px;
  margin: 0 auto;
  padding: 0 5%;
  background-image: url(https://i.imgur.com/sWy3bcG.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  background-color: black;
}

header h1 {
  width: 50%;
  margin: 2em 0 0;
}

header h1, header h3, nav a{
  color: white;
}

header h3 {
  margin-top: 5px;

}


/*----Projects----*/

.projects {
  text-align: center;
  margin: 10em 0 3em 0;
  padding: 0 5%;
}

.projects h1 {
  width: 50%;
  margin: 0 auto 30px auto;
}

.each-project {
  display: flex;
  justify-content: center;
}


.file {
  margin: 0 30px;
  color: #202427;
}

.file h3 {
  margin-bottom: 5px;
}

.contact {
  margin-bottom: 30px;
  padding-top: 300px;
}

.contact h1 {
  text-align: center;
}

.contact input {
  display: block;
}

form {
 margin: 0 auto;
 width:250px;
}

form input {
  margin-bottom: 20px;
}




/*----Footer----*/

footer {
  text-align: center;
  background-color: black;
  padding: 50px;
  margin: 0 auto;
}

footer h1{
    display:block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

footer img {
  margin-right: 5px;
}

/*----Spinner ----*/

.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:3px solid white;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
 }

@media only screen and (max-width: 1000px) {
  header {
    height: 1000px;
    min-height: 1000px;
    background-image: url(https://i.imgur.com/Nn6ny9X.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  header h1 {
    width: 100%;
  }

  .projects {
    margin: 3em 0 3em 0;
  }

  .projects h1 {
    width: 100%;
  }
}


@media only screen and (max-width: 600px) {
  .first-name {
    position: relative;
    top: -100;
  }

   header {
     overflow-y: hidden;
     height: 700px;
     min-height: 700px;
     background-position: top right;
   }

   header h1 {
     margin: 9em 0 0 0;
     display: inline-block;
     font-size: 30px;
   }

   header h3 {
     font-size: 20px;
   }

  .each-project .file{
     flex-direction: column;
   }

   .file {
     margin-top: 30px;
   }

   .navbar-items {
     display: none;
   }
}
